/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

} /*end large */

nav ul li a {
  pading: .6rem 1rem;
  

}





  
  
  
  
  
  article p.town-article img { width: 29.333%; }
  
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
